<!DOCTYPE html>
<html>
  <body>
    <h1>Order Confirmation</h1>

    <p>
      Thank you for your order, <%= @order.name %>!
    </p>

    <table>
      <tr><th colspan="2">Qty</th><th>Description</th></tr>

      <% @order.line_items.each do |item| %>
        <tr>
          <td><%= item.quantity %></td>
          <td>&times;</td>
          <td><%= item.product.title %></td>
        </tr>
      <% end %>
    </table>

    <p>Your total is <%= number_to_currency(@order.total_price) %>.</p>
  </body>
</html>
